spring:
  application:
    name: bodyanalyzer

  datasource:
    url: jdbc:mysql://localhost:3306/bodyanalyzer?useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: 1302
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8080

jwt:
  secret: your-super-secret-jwt-key-super-secret-jwt-key

logging:
  level:
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
